body{
	background: #C3B3B3;
	font-size: 150%;
	margin: 6%;
}
header{
	background: rgb(21,105,30,0.2);
	text-align: center;
	padding: 15PX;
}
h1{
	font-family: "Time New Roman";
	color: rgb(160,82,45,0.7);
}

nav{
	font-variant: small-caps;
	font-size: 150%;
	font-family:"Time New Roman", serif;
}
section{
	width: 31%;
	display: inline-block;
	float: left;
	margin-right: 2%;
}
h2{
	color: #666666;
	background: #00b7ea;
	font-family: "Time New Roman";
	text-align: center;
}
details{
	font-style: italic;

}
summary{
	font-style: normal;
}
footer{
	background: rgb(21,105,30,0.2);
	clear: both;
}
img{
	width: 100px;
}